/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uilds/
/[Bb]uild/
.vs/
.vscode/
.idea/
*.csproj
*.sln
*.slnx
*.user
*.suo
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db
sysinfo.txt
*.log
/Assets/StreamingAssets/aa.meta
/Assets/StreamingAssets/aa/
